/*
COLORES
*/
$color-ppal: #000;
$color-secu: #f0f0f0;
$color-enfasis: #f2f2f2;
$color-hover: #000;
$color-light: #fff;
$color-dark: #000;

/*
FONT FAMILY
*/

$font: 'Fredoka', sans-serif;
$font-300: 300;
$font-400: 400;
$font-600: 600;
$font-0-8: 0.8em;
$font-1: 1em;
$font-1-2: 1.2em;
$font-1-5: 1.5em;
$font-2: 2em;
$font-3-4: 3.4em;
$font-4: 4em;